<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <link rel="stylesheet" href="css/VentadeCarros.css"/>
        <meta charset="utf-8" />


    </head>
</head>

<header> 
    <nav>
        <ul>

            <img src="images/1.png" alt="Logo" class="logo">

            <li class="navOpcion">
                <a href="home.html" class="navLink menuLink">Home</a>
            </li>
            <li class="navOpcion">
                <a href="src/main/resources/templates/ventadecarros" class="navLink menuLink">Venta de Carros</a>
            </li>
            <li class="navOpcion">
                <a href="src/main/resources/templates/ventademotos" class="navLink menuLink">Venta de Motos</a>
            </li>
            <li class="navOpcion">
                <a href="review.html" class="navLink menuLink">Review</a>
            </li>
            <li class="navOpcion">
                <a href="comentarios.html" class="navLink menuLink">Comentarios</a>
            </li>
            <li class="navOpcion">
                <a href="NoticiasNuevas.html" class="navLink menuLink">Noticias Nuevas</a>
            </li>
            <li class="navOpcion">
                <a href="soporteContacto.html" class="navLink menuLink">Soporte</a>
            </li>
            <li class="navOpcion">
                <a href="login.html" class="navLink menuLink">Login</a>
            </li>
            <li class="navOpcion">
                <a href="crearCuenta.html" class="navLink menuLink">Crear cuenta</a>
            </li>
        </ul>
    </nav>
</header>
<br>

<tbody>
    <!-- esto es un loop th:each corro esto -->
    <!-- Prueba para llenar cosas,  -->
    <!-- usar bootstrap para ver si lleno esto solo en las cosas -->
<div class="container">
    <th:block th:each="carro : ${carros}">
        <tr>
            <!-- <td th:text="#{Precio:}">:</td> -->
            <!-- <td class="caja caja1"><img src="images/DB11.jpeg"><td th:text="${carro.getModelo}"></td><td th:text="${carro.getCosto}"></td></div> -->
        <div class="caja cajan"><img src="'images/'+${carro.getCarro_id}+'.jpg'"> <td th:text="${carro.getModelo}+' '">  <td th:text="${carro.getCosto}+'$  '">  </td><td><a th:href="@{/verauto/{id}(id=${carro.getCarro_id})}">Ver_detalles</a></td><td>                        <!-- <a th:href="@{/delete/{id}(id=${carro.getCarro_id})}">Delete</a> --></td></div>


        </tr>
    </th:block>
</div>

</tbody>


</html>