body {
  background-image: url(../images/fondo.jpg); 
  background-size: auto;
 }


nav {
  background-color: #333;
  height: 70px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
 justify-content: left;
  align-items: center;
  height: 100%;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

nav li {
  margin: 0 50px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  color: #00b4db;
}

.logo {
  height: 70px; 
  margin-right: 200px; 
 
 }


 
 
 