body {
  background-image: url(../images/fondo.jpg); 
  background-size: auto;
 }


nav {
  background-color: #333;
  height: 70px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

nav li {
  margin: 14px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  color: #00b4db;
}

.logo {
  height: 70px; 
 }

 
 .container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.containers {
  display: flex;
  align-items: center;
  background-color: #403c3c94;
  padding: 20px;
  margin-right: 20px;
  border-radius: 10px;
}

.image-box {
  flex-basis: 50%;
  padding-right: 10px;
  display: flex;
  justify-content: flex-end;
}

.image-box img {
  display: block;
  max-width: 100%;
  height: auto;
}

.text-box {
  flex-basis: 50%;
  color: white;
}

.text-box h2 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 10px;
}

.text-box p {
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
}
