<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="css/publicidad.css" />
        <link rel="stylesheet" href="css/pago.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    </head>



    <body class="p-3 m-0 border-0 bd-example">
        <header> 
            <nav>
                <ul>

                    <img src="images/1.png" alt="Logo" class="logo">

                    <li class="navOpcion">
                        <a href="home.html" class="navLink menuLink">Home</a>
                    </li>
                    <li class="navOpcion">
                        <a href="ventadecarros" class="navLink menuLink">Venta de Carros</a>
                    </li>
                    <li class="navOpcion">
                        <a href="ventademotos" class="navLink menuLink">Venta de Motos</a>
                    </li>
                    <li class="navOpcion">
                        <a href="review.html" class="navLink menuLink">Review</a>
                    </li>
                    <li class="navOpcion">
                        <a href="comentarios.html" class="navLink menuLink">Comentarios</a>
                    </li>
                    <li class="navOpcion">
                        <a href="NoticiasNuevas.html" class="navLink menuLink">Noticias Nuevas</a>
                    </li>
                    <li class="navOpcion">
                        <a href="soporteContacto.html" class="navLink menuLink">Soporte</a>
                    </li>
                    <li class="navOpcion">
                        <a href="login.html" class="navLink menuLink">Login</a>
                    </li>
                    <li class="navOpcion">
                        <a href="crearCuenta.html" class="navLink menuLink">Crear cuenta</a>
                    </li>
                </ul>
            </nav>
        </header>
        <br />

     <div class="container mt-5">
            <h1 class="text-center mb-5">FORMULARIO DE COMPRA</h1>
  <form>
    <div class="form-container">
      <div class="personal-information">
        <h1>Metodo de compra</h1>
      </div> <!-- informacion personal de la persona que va arealizar pagos -->
           
          <input id="column-left" type="text" name="Nombre" placeholder="Nombre"/>
          <input id="column-right" type="text" name="Apellido" placeholder="Apellido"/>
          <input id="input-field" type="text" name="Numero de tarjeta" placeholder="Numero de tarjeta"/>
          <input id="column-left" type="text" name="Fecha de vencimiento" placeholder="Fecha de vencimiento"/>
          <input id="column-right" type="text" name="Cvc" placeholder="CCV"/>
         
          <div class="card-wrapper"></div>
      
          <input id="input-field" type="text" name="Direccion de calle" required="required" autocomplete="on" maxlength="45" placeholder="Direccion de calle"/>
          <input id="column-left" type="text" name="Ciudad" required="required" autocomplete="on" maxlength="20" placeholder="Ciudad"/>
          <input id="column-right" type="text" name="Codigo postal" required="required" autocomplete="on" pattern="[0-9]*" maxlength="5" placeholder="Codigo postal"/>
          <input id="input-field" type="email" name="email" required="required" autocomplete="on" maxlength="40" placeholder="Email"/>
          <input id="input-button" type="Comprar" value="Comprar"/>
        
    </form>
  </div>
