<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bootstrap demo</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    </head>
    <body>
        <h1>Crear una nueva Moto</h1>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>        
        <div class="container">
            
   
             <button >Importante enviar sus fotos al correo crautosoporte@gmail.com</button>   
            <div class="card-header bg-black text-white"> </div>
            <div class="card-body">
                <!-- Esto es para crear un formulario que es para guardar, th:object le pasa al formulario -->                <!-- que vamos a manejar sobre un objeto, y el objeto es persona -->                
                <div class="container">
                    <!-- el persona aqui es dentro del getmapping /personaN que es crear una nueva persona() -->                    <!-- formulario ejecuta una accion esa accion es guardar, el ${parametro} envia el backend mientras que el @{url que voy a ejecular} hacia el controlador-->                    <!-- Type de metodo es restful api POST es guardar dentro de la base de datos -->                    <!-- thobject es del controller y personaN -->                    
                    <form th:object ="${moto}"                          th:action="@{/save}"                          method="POST">
                        <!-- tengo un problema con todos los input -->                        <input type="hidden" th:field="*{moto_id}">                        
                        <div class="form-group mb-3 row">
                            <label  class="col-md-2 col-form-label" for="modelo">Modelo</label>                            
                            <div class="col-sm-10">                                <input type="text" class="form-control form-control-sm col-md-6" th:field="*{modelo}"  placeholder= "Marca y Modelo" id="modelo" aria-describedby="emailHelp">                            </div>
                        </div>
                        <div class="form-group mb-3 row">
                            <label  class="col-md-2 col-form-label" for="cilindraje">Cilindraje</label>                            
                            <div class="col-sm-10">                                <input type="text" class="form-control form-control-sm col-md-6" th:field="*{cilindraje}"  placeholder= "Cilindraje del auto" id="cilindraje" aria-describedby="emailHelp">                            </div>
                        </div>
                        <div class="form-group mb-3 row">
                            <label  class="col-md-2 col-form-label" for="tipo">Tipo Combustible</label>                            
                            <div class="col-sm-10">                                <input type="text" class="form-control form-control-sm col-md-6" th:field="*{tipo}"  placeholder= "Tipo de Combustible" id="tipo" aria-describedby="emailHelp">                            </div>
                        </div>
                        <div class="form-group mb-3 row">
                            <label  class="col-md-2 col-form-label" for="costo">Costo del auto en dolares</label>                            
                            <div class="col-sm-10">                                <input type="text" class="form-control form-control-sm col-md-6" th:field="*{costo}"  placeholder= "Monto en dolares" id="costo" aria-describedby="emailHelp">                            </div>
                        </div>
                        
                        <div class="form-group mb-3 row">
                            <label  class="col-md-2 col-form-label" for="color">Color del automovil</label>                            
                            <div class="col-sm-10">                                <input type="text" class="form-control form-control-sm col-md-6" th:field="*{color}"  placeholder= "Color" id="color" aria-describedby="emailHelp">                            </div>
                        </div>

                        <div class="form-group mb-3 row">
                            <label  class="col-md-2 col-form-label" for="transmision">Tipo transmision</label>                            
                            <div class="col-sm-10">                                <input type="text" class="form-control form-control-sm col-md-6" th:field="*{transmision}"  placeholder= "Tipo de transmision" id="transmision" aria-describedby="emailHelp">                            </div>
                        </div> 
                        
                    
                        <!--  <div class="form-group mb-3 row">
                           <label  class="col-md-2 col-form-label" for="paises">Pais</label>                            
                           <div class="col-sm-10">
                              <select th:field="*{pais}" class="form-control form-control-sm col-md-6" id="pais" aria-describedby="emailHelp">                                    
                              <option th:each="x:${paises}"                                            
                                      th:value="${x.id}"                                            
                                      th:text="${x.pais}"/>                                
                              </select>                            
                           </div>
                        </div> -->
                        
                        

                        <button type="submit" class="btn btn-primary" value="Guardar">Salvar</button>                    
                    </form>
                </div>
            </div>
    </body>
</html>