<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->


<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://thymeleaft.org/extras/spring-security">

    <title>Iniciar Sesion</title>

    <link rel="stylesheet" href="css/NoticiasNuevas.css" />
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js" integrity="sha512-6PM0qYu5KExuNcKt5bURAoT6KCThUmHRewN3zUFNaoI6Di7XJPTMoT6K0nsagZKk2OB4L7E3q1uQKHNHd4stIQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-grey">
            <a class="navbar-brand" href="#"><img src="images/1.png" alt="Logo" class="logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a style="color: #FFFFFF" class="nav-link" href="home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a style="color: #FFFFFF" class="nav-link" href="crearauto" th:if="${#authorization.expression('hasRole(''User'')')}">Venda su auto</a>
                    </li>
                    <li class="nav-item">
                        <a style="color: #FFFFFF" class="nav-link" href="crearmoto" th:if="${#authorization.expression('hasRole(''User'')')}">Venda su Moto</a>
                    </li>
                    <li class="nav-item">
                        <a style="color: #FFFFFF" class="nav-link" href="ventadecarros">Autos</a>
                    </li>
                    <li class="nav-item">
                        <a style="color: #FFFFFF" class="nav-link" href="ventademotos">Motos</a>
                    </li>
                    <li class="nav-item">
                        <a style="color: #FFFFFF" class="nav-link" href="publicidadUser">Publicidad</a>
                    </li>
                    <li class="nav-item">
                        <a style="color: #FFFFFF" class="nav-link" href="review">Review</a>
                    </li>
                    <li class="nav-item">
                        <a style="color: #FFFFFF" class="nav-link" href="comentariosUser">Comentarios</a>
                    </li>
                    <li class="nav-item">
                        <a style="color: #FFFFFF" class="nav-link" href="noticiasUser">Noticias</a>
                    </li>
                    <li class="nav-item">
                        <a style="color: #FFFFFF" class="nav-link" href="soporteContacto">Soporte</a>
                    </li>
                    <li class="nav-item">
                        <a style="color: #FFFFFF" class="nav-link" href="login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a style="color: #FFFFFF" class="nav-link" href="crearCuenta">Crear Cuenta</a>
                    </li>
                    <li style="margin-left: 5px;"class="nav-item dropdown">
                        <a style="color: #FFFFFF" class="nav-link dropdown-toggle" href="#" th:if="${#authorization.expression('hasRole(''Admin'')')}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            ADM
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="usuariosA">Usuarios</a>
                            <a class="dropdown-item" href="noticias">Noticias</a>
                            <a class="dropdown-item" href="comentariosAdm">Comentarios</a>
                            <a class="dropdown-item" href="publicidad">Publicidad</a>
                            <a class="dropdown-item" href="pagoAdmin">Suscripciones</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <section class="vh-100 gradient-custom">

            <div class="container mt-5">
                <div style="width:600px;margin-left: auto;margin-right: auto;padding: 24px;">
                    <div class="card">
                        <div class="card-header">
                            <i class="fa fa-user"></i> Please Login
                        </div>
                        <div class="card-block" style="padding: 24px;">
                            <form name="f" th:action="@{/login}" method="post">
                                <fieldset>
                                    <!-- Thymeleaf + Spring Security error display -->
                                    <div th:if="${param.error}" class="alert alert-danger">
                                        Invalid username and password.
                                    </div>
                                    <div th:if="${param.logout}" class="alert alert-success">
                                        You have been logged out.
                                    </div>
                                    <!-- Login Controls -->
                                    <div class="form-group">
                                        <label for="txtUsername">Username</label>
                                        <input type="text" class="form-control" id="username" name="username"
                                               placeholder="Username">
                                    </div>
                                    <div class="form-group">
                                        <label for="txtPassword">Password</label>
                                        <input type="password" class="form-control" id="password" name="password"
                                               placeholder="Password">
                                    </div>
                                    <!-- Login Button -->
                                    <div class="form-actions" style="margin-top: 12px;">
                                        <button type="submit" class="btn btn-success">Log in</button>
                                    </div>
                                </fieldset>
                            </form>

                            <a class="mt-5" href="crearCuenta" role="button">Registrarse</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </body>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</html>
