<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Noticias</title>
	<!-- Importamos los estilos de Bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/NoticiasNuevas.css" />
</head>
<body>
	<div class="container mt-5">
		<h1 class="text-center mb-5">Noticias</h1>
		<div class="row">
			<!-- Iteramos sobre la lista de noticias para mostrar cada una en un cuadro -->
			<div class="col-md-4 mb-4" th:each="noticia : ${noticias}">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title" th:text="${noticia.nombre_noticia}"></h5>
						<p class="card-text" th:text="${noticia.cuerpo_noticia}"></p>
						<p class="card-text"><small class="text-muted" th:text="${noticia.fecha_noticia}"></small></p>
						<a th:href="@{/editNoticia/{id}(id=${noticia.noticia_id})}" class="btn btn-warning mr-2">Editar</a>
						<a th:href="@{/delete/{id}(id=${noticia.noticia_id})}" class="btn btn-danger">Eliminar</a>
					</div>
				</div>
			</div>
		</div>
		<!-- Agregamos un botón para crear una nueva noticia -->
		<a th:href="@{/noticiaN}" class="btn btn-primary mt-3">Nueva Noticia</a>
	</div>

	<!-- Importamos los scripts de Bootstrap -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>

