<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Publicidad</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/comentarios.css" />
    </head>
    <header> 
         <nav>
        <ul>

            <img src="images/1.png" alt="Logo" class="logo">

            <li class="navOpcion">
                <a href="home" class="navLink menuLink">Home</a>
            </li>
            <li class="navOpcion">

                <a href="ventadecarros" class="navLink menuLink">Autos</a>
            </li>
            <li class="navOpcion">
                <a href="ventademotos" class="navLink menuLink">Motos</a>

            </li>
            <li class="navOpcion">
                <a href="publicidadUser" class="navLink menuLink">Publicidad</a>
            </li>
            <li class="navOpcion">
                <a href="review" class="navLink menuLink">Review</a>
            </li>
            <li class="navOpcion">

                <a href="comentariosUser" class="navLink menuLink">Comentarios</a>

            </li>
            <li class="navOpcion">
                <a href="noticiasUser" class="navLink menuLink">Noticias</a>
            </li>
            <li class="navOpcion">
                <a href="soporteContacto.html" class="navLink menuLink">Soporte</a>
            </li>
            <li class="navOpcion">
                <a href="login" class="navLink menuLink">Login</a>
            </li>
            <li class="navOpcion">
                <a href="crearCuenta" class="navLink menuLink">Crear Cuenta</a>
            </li>
            <li class="navOpcion">
                <a href="usuariosA" class="navLink menuLink">Usuarios ADM</a>
            </li>
            <li class="navOpcion">
                <a href="noticias" class="navLink menuLink">Noticias ADM</a>
            </li>
            <li class="navOpcion">
                <a href="comentariosAdm" class="navLink menuLink">Comentarios ADM</a>
            </li>
            <li class="navOpcion">
                <a href="publicidad" class="navLink menuLink">Publicidad ADM</a>
            </li>
        </ul>
    </nav>
    </header>
    <body>
        <div class="container mt-5">
            <h1 class="text-center mb-5">Paquetes de Publicidad</h1>
            <div class="row">
                <!-- Iteramos sobre la lista de noticias para mostrar cada una en un cuadro -->
                <div class="col-md-3 mb-3" th:each="publicidad : ${publicidad}">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${publicidad.getNombre_paquete}"></h5>
                            <p class="card-text" th:text="${publicidad.getDescricion_paquete}"></p>
                            <p class="card-text">Precio: ₡ <small class="text-muted" th:text="${publicidad.getPrecio_paquete}"></small></p>
<!--                            <a th:href="@{/editPublicidad/{id}(id=${publicidad.getPublicidad_id})}" class="btn btn-warning mr-2">Editar</a>
                            <a th:href="@{/eliminarPub/{id}(id=${publicidad.getPublicidad_id})}" class="btn btn-danger">Eliminar</a>-->
                            <a th:href="@{/publicidadN}" class="btn btn-primary mt-3">Adquirir Paquete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>