<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Tabla de Noticias</title>
	<!-- Importamos los estilos de Bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
	<div class="container mt-5">
		<h1 class="text-center mb-5">Tabla de Noticias</h1>
		<table class="table">
			<thead>
				<tr>
					<th>ID</th>
					<th>Nombre</th>
					<th>Apellido</th>
					<th>Edad</th>
                                        <th>Telefono</th>
                                        <th>Correo Electronico</th>
                                        <th>Tipo</th>
				</tr>
			</thead>
			<tbody>
				<!-- Iteramos sobre la lista de noticias para mostrarlas en la tabla -->
				<tr th:each="usuario : ${usuarios}">
					<td th:text="${usuario.usuario_id}"></td>
					<td th:text="${usuario.nombre}"></td>
					<td th:text="${usuario.apellido}"></td>
                                        <td th:text="${usuario.edad}"></td>
                                        <td th:text="${usuario.telefono}"></td>
                                        <td th:text="${usuario.correo_electronico}"></td>
                                        <td th:text="${usuario.tipo_usuario.tipo_usuario}"></td>
					<td>
						<!-- Agregamos botones para editar y eliminar noticias -->
						<a th:href="@{/editUsuario/{iduser}(iduser=${usuario.usuario_id})}" class="btn btn-sm btn-warning">Editar</a>
						<a th:href="@{/delete/{iduser}(iduser=${usuario.usuario_id})}" class="btn btn-sm btn-danger">Eliminar</a>
					</td>
				</tr>
			</tbody>
		</table>
		<!-- Agregamos un botón para crear una nueva noticia -->
		<a th:href="@{/usuarioN}" class="btn btn-primary">Nueva Noticia</a>
	</div>

	<!-- Importamos los scripts de Bootstrap -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
