<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <link rel="stylesheet" href="css/VentadeCarros.css"/>
        <meta charset="utf-8" />


    </head>
</head>

<header> 
         <nav>
        <ul>

            <img src="images/1.png" alt="Logo" class="logo">

            <li class="navOpcion">
                <a href="home" class="navLink menuLink">Home</a>
            </li>
            <li class="navOpcion">

                <a href="ventadecarros" class="navLink menuLink">Autos</a>
            </li>
            <li class="navOpcion">
                <a href="ventademotos" class="navLink menuLink">Motos</a>

            </li>
            <li class="navOpcion">
                <a href="publicidadUser" class="navLink menuLink">Publicidad</a>
            </li>
            <li class="navOpcion">
                <a href="review" class="navLink menuLink">Review</a>
            </li>
            <li class="navOpcion">

                <a href="comentariosUser" class="navLink menuLink">Comentarios</a>

            </li>
            <li class="navOpcion">
                <a href="noticiasUser" class="navLink menuLink">Noticias</a>
            </li>
            <li class="navOpcion">
                <a href="soporteContacto.html" class="navLink menuLink">Soporte</a>
            </li>
            <li class="navOpcion">
                <a href="login" class="navLink menuLink">Login</a>
            </li>
            <li class="navOpcion">
                <a href="crearCuenta" class="navLink menuLink">Crear Cuenta</a>
            </li>
            <li class="navOpcion">
                <a href="usuariosA" class="navLink menuLink">Usuarios ADM</a>
            </li>
            <li class="navOpcion">
                <a href="noticias" class="navLink menuLink">Noticias ADM</a>
            </li>
            <li class="navOpcion">
                <a href="comentariosAdm" class="navLink menuLink">Comentarios ADM</a>
            </li>
            <li class="navOpcion">
                <a href="publicidad" class="navLink menuLink">Publicidad ADM</a>
            </li>
        </ul>
    </nav>
    </header>
<br>

<tbody>
    <!-- esto es un loop th:each corro esto -->
    <!-- Prueba para llenar cosas,  -->
    <!-- usar bootstrap para ver si lleno esto solo en las cosas -->
<div class="container">
    <th:block th:each="carro : ${carros}">
        <tr>
            <!-- <td th:text="#{Precio:}">:</td> -->
            <!-- <td class="caja caja1"><img src="images/DB11.jpeg"><td th:text="${carro.getModelo}"></td><td th:text="${carro.getCosto}"></td></div> -->

        <div class="caja cajan"><img th:src="${carro.getImgpath}"><td th:text="${carro.getModelo}+'  '">  </td><td th:text="${carro.getCosto}+'$  '">   </td><td><a th:href="@{/verauto/{id}(id=${carro.getCarro_id})}">Ver_detalles</a></td></div>



        </tr>
    </th:block>
</div>

</tbody>


</html>