<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="css/VentadeMotos.css" />


    <body class="p-3 m-0 border-0 bd-example">
        <header> 
         <nav>
        <ul>

            <img src="images/1.png" alt="Logo" class="logo">

            <li class="navOpcion">
                <a href="home" class="navLink menuLink">Home</a>
            </li>
            <li class="navOpcion">

                <a href="ventadecarros" class="navLink menuLink">Autos</a>
            </li>
            <li class="navOpcion">
                <a href="ventademotos" class="navLink menuLink">Motos</a>

            </li>
            <li class="navOpcion">
                <a href="publicidadUser" class="navLink menuLink">Publicidad</a>
            </li>
            <li class="navOpcion">
                <a href="review" class="navLink menuLink">Review</a>
            </li>
            <li class="navOpcion">

                <a href="comentariosUser" class="navLink menuLink">Comentarios</a>

            </li>
            <li class="navOpcion">
                <a href="noticiasUser" class="navLink menuLink">Noticias</a>
            </li>
            <li class="navOpcion">
                <a href="soporteContacto.html" class="navLink menuLink">Soporte</a>
            </li>
            <li class="navOpcion">
                <a href="login" class="navLink menuLink">Login</a>
            </li>
            <li class="navOpcion">
                <a href="crearCuenta" class="navLink menuLink">Crear Cuenta</a>
            </li>
            <li class="navOpcion">
                <a href="usuariosA" class="navLink menuLink">Usuarios ADM</a>
            </li>
            <li class="navOpcion">
                <a href="noticias" class="navLink menuLink">Noticias ADM</a>
            </li>
            <li class="navOpcion">
                <a href="comentariosAdm" class="navLink menuLink">Comentarios ADM</a>
            </li>
            <li class="navOpcion">
                <a href="publicidad" class="navLink menuLink">Publicidad ADM</a>
            </li>
        </ul>
    </nav>
    </header>
        <br />
    <body>

        <div class="container">
            <th:block th:each="moto : ${motos}">
                <tr>

                <div class="caja cajan"><img th:src="${moto.getImgpath}"><td th:text="${moto.getModelo}+'  '">  </td><td th:text="${moto.getCosto}+'$  '">   </td><td><a th:href="@{/vermoto/{id}(id=${moto.getMoto_id})}">Ver_detalles</a></td></div>


                </tr>
            </th:block>

        </div>



    </body>
