<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="css/VentadeMotos.css" />


    <body class="p-3 m-0 border-0 bd-example">
        <header> 
            <nav>
                <ul>

                    <img src="images/1.png" alt="Logo" class="logo">

                    <li class="navOpcion">
                        <a href="templates/home" class="navLink menuLink">Home</a>
                    </li>
                    <li class="navOpcion">
                        <a href="templates/VentaDeCarros.html" class="navLink menuLink">Venta de Carros</a>
                    </li>
                    <li class="navOpcion">
                        <a href="templates/VentadeMotos" class="navLink menuLink">Venta de Motos</a>
                    </li>
                    <li class="navOpcion">
                        <a href="template/review" class="navLink menuLink">Review</a>
                    </li>
                    <li class="navOpcion">
                        <a href="template/comentarios" class="navLink menuLink">Comentarios</a>
                    </li>
                    <li class="navOpcion">
                        <a href="template/NoticiasNuevas" class="navLink menuLink">Noticias Nuevas</a>
                    </li>
                    <li class="navOpcion">
                        <a href="template/soporteContacto" class="navLink menuLink">Soporte</a>
                    </li>
                    <li class="navOpcion">
                        <a href="template/login" class="navLink menuLink">Login</a>
                    </li>
                    <li class="navOpcion">
                        <a href="template/crearCuenta" class="navLink menuLink">Crear cuenta</a>
                    </li>
                </ul>
            </nav>
        </header>
        <br />
    <body>

        <div class="container">
            <th:block th:each="moto : ${motos}">
                <tr>

                <div class="caja cajan"><img src="images/DB11.jpeg"><td th:text="${moto.getModelo}">  </td><td th:text="${moto.getCosto}">   </td><a th:href="@{/editPersona/{id}(id=${moto.getMoto_id})}">Edit</a></td><td>                        <a th:href="@{/delete/{id}(id=${moto.getMoto_id})}">Delete</a></td></div>


                </tr>
            </th:block>

        </div>



    </body>
